body {
  margin: 0;
  background-color: black;
}

.logo {
  width: 120px;
  height: auto;
}

.navbar {
  display: flex;
  background-color: black;
  padding: 1%;
  box-shadow: 0 2px 4px 0 rgba(255, 255, 255, 0.2);
}
